.table{
    font-size: 12px;
    display: block;
    padding: 0px 15px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.table thead{

    font-size: 12px;
}

.btn-table{
    font-size: 18px;
    transition: all 250ms linear;
}

.btb-del:hover{
    color: rgb(247, 13, 13)
}

.btn-upd:hover{
    color: rgb(23, 209, 23)
}